<div class="container">
    <div class="details">
        <app-title title="Login"></app-title>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="input-container">
                <label>Email
                    <div>
                        <input type="email" placeholder="Email" formControlName="email"/>
                    </div>
                </label>
            </div>
            <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                <div *ngIf="fc.email.errors.required">Please fill in this field!</div>
                <div *ngIf="fc.email.errors.email">The email you entered is not formatted correctly!</div>
            </div>
            <div class="input-container">
                <label>Password
                    <div>
                        <input type="password" placeholder="Password" formControlName="password"/>
                    </div>
                </label>
            </div>
            <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                <div *ngIf="fc.password.errors.required">Please fill in this field!</div>
            </div>
            <div class="button">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>